@CHARSET "UTF-8";
.table .extra {
    margin-top: 5px;
}

.table .extra .buy_again {
    background: url(../../../.././../statics/images/buyer/buy_again.png) center no-repeat;
    width: 80px;
    height: 21px;
    text-indent: 0em;
}