@CHARSET "UTF-8";

.table td {
    position: relative;
}

.coupon_item h2,
.coupon_item p {
    position: relative;
    z-index: 1;
}

.coupon_item h2 {
    vertical-align: bottom;
    margin-bottom: 6px;
}

    .coupon_item h2 b {
        font-size: 40px;
        color: #c40000;
        line-height: 44px;
    }

    .coupon_item h2 i {
        font-size: 18px;
        font-style: normal;
        margin-left: 10px;
        line-height: 22px;
    }

.coupon_item p {
    font-size: 14px;
    line-height: 18px;
}

.coupon_item .coupon_condition {
    margin-bottom: 6px;
}

.coupon_item .coupon_overdue {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.1);
    z-index: 3;
}

    .coupon_item .coupon_overdue h3 {
        position: absolute;
        right: 12px;
        bottom: 12px;
        font-size: 24px;
        text-align: right;
    }

    .coupon_item .coupon_overdue .coupon_info {
        color: #3c763d;
    }

    .coupon_item .coupon_overdue .coupon_error {
        color: #c40000;
    }

li {
    list-style: none;
}

.item_list {
    float: left;
    width: 204px;
    height: 255px;
    margin-bottom: 28px;
    margin-right: 30px;
    box-sizing: border-box;
    position: relative;
    border-radius: 5px;
    border: 1px solid #DCDCDC;
    text-align: center;
}

    .item_list .item_main {
        height: 150px;
        width: 100%;
        padding-top: 10px;
        background: #898989;
    }

    .item_list .item_mainCanUse {
        height: 150px;
        width: 100%;
        padding-top: 10px;
        background: #E61478;
    }

        .item_list .item_main img, .item_list .item_mainCanUse img {
            width: 100px;
        }

        .item_list .item_main > p, .item_list .item_mainCanUse > p {
            font-size: 16px;
            margin-top: 8px;
            color: white;
        }

            .item_list .item_main > p > span, .item_list .item_mainCanUse > p > span {
                padding-top: 10px;
                height: 57px;
                overflow: hidden;
            }

    .item_list .get {
        padding-top: 10px;
    }

        .item_list .get > a {
            color: #333;
            display: inline-block;
            height: 52px;
            border: 0;
            background: transparent;
            font-size: 20px;
            text-decoration: none;
        }

    .item_list .time {
        padding-top: 5px;
        color: #a9a9a9;
        font-size: 12px;
    }

.clear:after {
    display: block;
    height: 0;
    visibility: hidden;
    content: '';
    clear: both;
    zoom: 1;
}

#title {
    font-size: 18px;
    line-height: 35px;
    color: black;
    font-weight: 100;
    margin-bottom: 15px;
}

    #title span {
        display: inline-block;
        width: 150px;
        text-align: center;
        margin-right: -5px;
        cursor: pointer;
        transition: 0.5s;
    }

        #title span:hover {
            background: #f1b6b3;
            color: #fff;
        }

.select {
    background: #e62c2d;
    color: white;
    position: relative;
    font-weight: bold;
}

#title .select:hover {
    background: #e62c2d;
}

.usefulCoupon,
.usedCoupon,
.outTimeCoupon {
    display: none;
}
