USE [SaleTools]
GO
/****** Object:  Table [dbo].[sheet2$]    Script Date: 07/29/2018 22:36:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sheet2$](
	[行号] [float] NULL,
	[客户编号] [nvarchar](255) NULL,
	[客户名称] [nvarchar](255) NULL,
	[客户地址] [nvarchar](255) NULL,
	[客户地址1] [nvarchar](255) NULL,
	[关联职员] [nvarchar](255) NULL,
	[区域] [nvarchar](255) NULL,
	[联系人] [nvarchar](255) NULL,
	[用户名/密码] [float] NULL,
	[联系电话] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[sheet2$] ([行号], [客户编号], [客户名称], [客户地址], [客户地址1], [关联职员], [区域], [联系人], [用户名/密码], [联系电话]) VALUES (338, N'K020104010', N'Ap温州市易久批贸易有限公司    货到打款！', N'瓯海中洋皮业有限公司西50米(虹桥路东)', N'瓯海中洋皮业有限公司西50米(虹桥路东)', N'吴荣信', N'浙江 温州 鹿城', N'王经理', NULL, NULL)
INSERT [dbo].[sheet2$] ([行号], [客户编号], [客户名称], [客户地址], [客户地址1], [关联职员], [区域], [联系人], [用户名/密码], [联系电话]) VALUES (339, N'K020104011', N'Ap邮乐购', N'Ap邮乐购', N'自提', N'李茂礼', N'浙江 温州 鹿城', N'叶镇宇', NULL, NULL)
INSERT [dbo].[sheet2$] ([行号], [客户编号], [客户名称], [客户地址], [客户地址1], [关联职员], [区域], [联系人], [用户名/密码], [联系电话]) VALUES (362, N'K0204001', N'Ap街心6号  请付现金！', N'飞霞路18号', N'送货地址：飞霞路18号', N'周晓敏', N'浙江 温州 鹿城', N'老罗', 88821384, 88821384)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
/****** Object:  Table [dbo].[sheet1$]    Script Date: 07/29/2018 22:36:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sheet1$](
	[客户] [float] NULL,
	[F2] [nvarchar](255) NULL,
	[F3] [nvarchar](255) NULL,
	[F4] [nvarchar](255) NULL,
	[F5] [nvarchar](255) NULL,
	[F6] [nvarchar](255) NULL,
	[F7] [nvarchar](255) NULL,
	[F8] [nvarchar](255) NULL,
	[F9] [nvarchar](255) NULL,
	[F10] [nvarchar](255) NULL,
	[F11] [nvarchar](255) NULL,
	[F12] [nvarchar](255) NULL,
	[F13] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[sheet1$] ([客户], [F2], [F3], [F4], [F5], [F6], [F7], [F8], [F9], [F10], [F11], [F12], [F13]) VALUES (NULL, N'客户编号', N'客户名称', N'客户地址', N'客户备注', N'有无图片', N'关联职员', N'建档日期', N'适用售价', N'适用进价', N'联系人', N'电话', N'客户路径')
INSERT [dbo].[sheet1$] ([客户], [F2], [F3], [F4], [F5], [F6], [F7], [F8], [F9], [F10], [F11], [F12], [F13]) VALUES (1, N'hyklskh', N'会员卡临时客户', N'', N'', N'无', N'', N'2011-10-09 00:00:00', N'无', N'无', N'', N'', N'\全部客户\会员卡临时客户\')
INSERT [dbo].[sheet1$] ([客户], [F2], [F3], [F4], [F5], [F6], [F7], [F8], [F9], [F10], [F11], [F12], [F13]) VALUES (2, N'K010000', N'人本', N'', N'', N'无', N'', N'2018-04-02 00:00:00', N'无', N'无', N'', N'', N'\全部客户\人本总仓\人本\')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
