
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <style>
        #App
        {
            width:100%;
            font-size:12px;
            
        }
        .tittle {
            height: 40px;
            line-height: 40px;
            background-color: red;
            width: 100%;
            position: fixed;
            z-index: 99;
            top: 0px;
            left: 0px;
        }

        .tittle input {
            border-radius: 5px;
        }

        .content {
            width: 100%;
            margin-top: 40px;
        }

        .typeTittle {
            width: 100%;
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            text-align: center;
            border-bottom: 1px #f2f2f2 solid;
            margin-top: 10px;
        }


        #tuijianList {
            width: 100%;
        }

        .goodsItem {
            width: 48%;
            height: 260px;
            border-bottom: 1px #f2f2f2 solid;
            margin-top: 10px;
            float: left;
            margin-left: 2%;
        }

        .goodsImg {
            margin: 0 auto;
            width: 70%;
            height: 150px;
            text-align: center;
        }

            .goodsImg > img {
                width: 100%;
                height: 100%;
            }

        .price {
            color: red;
            line-height: 30px;
        }

        .addBtn {
            width: 100%;
            line-height: 30px;
            color: red;
        }

            .addBtn button {
                border: 1px solid red;
                width: 100%;
                height: 20px;
            }

        .saleOut {
            width: 100%;
            line-height: 30px;
            color: gray;
        }

            .saleOut button {
                border: 1px solid gray;
                width: 100%;
                height: 20px;
            }

        .goodstittle {
            font-weight: 700;
            line-height: 30px;
        }

        .unit {
            font-size: 10px;
        }

        .spec {
            color: #bbbbbb;
            line-height: 20px;
        }

        .typeList {
            position: fixed;
            width: 100px;
            background-color: #f2f2f2;
            right: 0px;
            top: 40px;
            z-index: 100;
        }

        .typeItem {
            height: 30px;
            line-height: 30px;
            width: 100%;
            text-align: center;
        }

        .activeType {
            border-left: solid 2px red;
        }

        .shoppingcar {
            height: 40px;
            line-height: 40px;
            width: 40px;
            position: fixed;
            z-index: 99;
            top: 90%;
            right: 20px;
        }
    </style>
</head>
<body>
    <div id="App">
        <div class="tittle ">
            <span style="color: white;margin: 0 10px;" id="return">返回</span>
            <input type="text" style="background-color:white;height: 30px;width: 220px;" v-model = "Key" value="@ViewBag.Key" placeholder="请输入关键字查询" id="keyword">
            <span style="color: white;margin: 0 10px;" id="btnSearch"  v-on:click="search">搜索</span>
            <span style="color: white;" id="ProductList">分类</span>
        </div>
        <div class="typeList" style="display: none">
            <goods-Type></goods-Type>
        </div>
        <div class="content">
            <div id="tuijianList">
                <runoob v-for="item in goodsList" v-bind:todo="item"></runoob>
            </div>

        </div>
        <div class="shoppingcar">
            <button id="returnToShoppingCar" @@click="turnToShoppingCar"><img src="../image/timg.png" height="40" width="40" /></button>
        </div>
        <div style="width:100%; height:400px;">
            <button v-on:click="loadMore">加载更多</button>
        </div>

    </div>
    <script src="~/Scripts/Vue/vue.min.js"></script>
    <script src="~/Scripts/Vue/vue-resource.js"></script>
    <script>
        Vue.component('runoob', {
            props: ['todo'],
            template: '<div class="goodsItem"><div class="goodsImg"  v-on:click="turnToPage"><img  v-bind:src=" todo.pic1" /></div><div class="goodstittle"  v-on:click="turnToPage" >{{todo.GoodsTittle}}</div><div class="price">￥{{todo.RetailtPrice }}/<span class="unit">{{todo.Unit }}</span></div><div class="spec">起订:{{ this.MinCount}}</div><div class="addBtn"  v-on:click="addToShoppingCar"><button >购买</button></div></div>',
            methods: {
                addToShoppingCar: function () {
                    this.$http.post('/APP/AddToShoppingCar', { goodId: this.todo.Id }, { emulateJSON: true }).then(function (res) {
                        var res = JSON.parse(res.body);
                        if (res.Stutas) {
                            alert("添加成功！");
                        }
                        else {
                            alert(res.Msg);
                        }
                    }, function (res) {
                        console.log(res.status);
                    });
                },
                turnToPage: function () {
                    location.href = "/APP/GoodsInfo/" + this.todo.Id;
                }

            }
        })

        var app = new Vue({
            el: "#App",
            data:
            {
                goodsList: [],
                typeList: [],
                Key: "",
                fstType: "",
                pageIndex: 1,
            },
            methods: {
                getGoodsList: function () {
                    this.$http.post(
                        '/APP/GetGoodsByPara',
                        { index: this.pageIndex, key: this.Key, fstType:this.fstType },
                        { emulateJSON: true }
                    ).then(function (res) {
                        var res = JSON.parse(res.body)
                        if (res.Stutas) {
                            if (this.pageIndex > 1) {
                                this.goodsList = this.goodsList.concat(res.Result.ListData);
                            }
                            else 
                                this.goodsList = res.Result.ListData;
                        }
                    }, function () {
                        console.log('请求失败处理');
                    });
                },
                loadMore: function () {
                    this.pageIndex++;
                    this.getGoodsList();
                },
                search: function () {
                    this.pageIndex = 1;
                    this.getGoodsList();
                },
                turnToShoppingCar: function () {
                    location.href = "/APP/ShoppingCar";
                }

            },
            watch: {
                Key: function (val) {
                    this.Key = val;
                },
            }
        })
        app.getGoodsList();
    </script>

</body>
</html>
