
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1, user-scalable=no">
    <link href="~/Content/css/owl.theme.css" rel="stylesheet" />
    <link href="~/Content/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/css/nav.css" rel="stylesheet" />
    <style>
        .tittle {
            height: 40px;
            line-height: 40px;
            background-color: red;
            width: 100%;
            position: fixed;
            z-index: 99;
            top: 0px;
            margin-left: -8px;
        }

            .tittle input {
                border-radius: 5px;
            }

        .content {
            width: 100%;
            margin-top: 40px;
        }

        .typeTittle {
            width: 100%;
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            text-align: center;
            border-bottom: 1px #f2f2f2 solid;
            margin-top: 10px;
        }

        #tuijianList {
            width: 100%;
        }

        .goodsItem {
            width: 100%;
            height: 110px;
            border-bottom: 1px #f2f2f2 solid;
            margin-top: 10px;
        }

        .goodsimg {
            float: left;
            width: 30%;
            height: 110px;
            text-align: center;
        }

        .goodsInfo {
            float: left;
            width: 70%;
            height: 100px;
            text-align: center;
            line-height: 20px;
        }

        .addBtn {
            float: left;
            margin-left: 20px;
            margin-bottom: 5px;
        }

        .goodstittle {
            font-weight: 700;
        }

        .inputCount
        {
            width:80px;
            float:left;
            margin-left:30%;
        }
        .inputCount input
        {
            width:80px;
            margin-top:5px;
            text-align:center;
        }

        #owl-demo {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }

        #owl-demo .item {
            display: block;
        }

        #owl-demo img {
            display: block;
            width: 100%;
        }
    </style>
</head>
<body>

    <div id="Index">
        <div class="tittle ">
            <form action="/APP/GoodsList" method="get">
                <span style="color: white;margin: 0 10px;" id="ProductList" v-on:click="searchGoods">分类</span>
                <input type="search" style="background-color:white;height: 30px;width: 250px;" placeholder="请输入关键字查询" id="key" name="key" v-model="key">
                <span style="color: white;margin: 0 10px;" id="btnSearch" v-on:click="searchGoods">搜索</span>
            </form>

        </div>
        <div class="content">
            <!-- Demo -->
            <div id="owl-demo" class="owl-carousel">
            </div>
            <div>
                <div class="typeTittle">推荐商品</div>
                <div id="tuijianList">
                    <button-counter v-for="item in tuijian" v-bind:todo="item"></button-counter>

                </div>
                <div class="typeTittle">限时特价</div>
                <div id="tejiaList">
                    <button-counter v-for="item in tejia" v-bind:todo="item"></button-counter>
                </div>
            </div>
            <div style="width:100%; height:70px;"></div>
        </div>
        <div class="nav">
            <ul>
                <li @@click="location.href='/APP/IndexPage'" class="activNav"> 首  页</li>
                <li @@click="location.href='/APP/ShoppingCar'">购物车</li>
                <li @@click="location.href='/APP/OrderList'"> 订  单</li>
                <li @@click="location.href='/APP/UserInfo'"> 我  的</li>
            </ul>
        </div>
    </div>
    <script src="~/Scripts/Vue/vue.min.js"></script>
    <script src="~/Scripts/Vue/vue-resource.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script type="text/javascript">

        Vue.component('button-counter', {
            props: ['todo'],
            data: function () {
                return {
                    count: 0
                }
            },
            template: '<div class="goodsItem" ><div class="goodsimg" v-on:click="turnToPage"> <img v-bind:src=" todo.pic1" v-on:click="turnToPage"  style="height: 80px" alt="暂无图片"></div><div class="goodsInfo"><div class="goodstittle"  v-on:click="turnToPage">{{todo.GoodsTittle}} </div><div class="info">规格:{{todo.Spec}} </div><div class="info">￥{{todo.RetailtPrice}}</div><div class="info inputCount"><input type="number"  v-model="todo.count" /></div><div class="addBtn" v-on:click="addToShoppingCar" v-if="todo.Stock>0"><img src="/Content/images/add.png" height="30" width="30"/></div><div class="addBtn" v-on:click="addToShoppingCar" style="background-color:gray!important" v-else>售罄</div></div></div>',
            methods: {
                addToShoppingCar: function () {
                    this.$http.post('/APP/AddToShoppingCar', { goodId: this.todo.Id, count: this.todo.count }, { emulateJSON: true }).then(function (res) {
                        var res = JSON.parse(res.body);
                        if (res.Stutas) {
                            alert("添加成功！");
                        }
                        else {
                            alert(res.Msg);
                        }
                    }, function (res) {
                        console.log(res.status);
                    });
                },
                turnToPage: function () {
                    location.href = "/APP/GoodsInfo/" + this.todo.Id;
                }
            }
        })



        var app =  new Vue({
            el: '#Index',
            data: {
                tuijian: [],
                tejia: [],
                key:"",
            },
            methods: {
                get: function () {
                    //发送get请求
                    this.$http.post(
                        '/APP/GetSpecialGoods',
                        { emulateJSON: true }
                    ).then(function (res) {
                        var res = JSON.parse(res.body)
                        if (res.Stutas) {
                            $(res.Result.XinpingList.ListData).each(function () {
                                this.count = 1;
                            });
                            $(res.Result.TejiaList.ListData).each(function () {
                                this.count = 1;
                            });
                            this.tuijian = res.Result.XinpingList.ListData;
                            this.tejia = res.Result.TejiaList.ListData;
                        }
                    }, function () {
                        console.log('请求失败处理');
                        });
                    this.$http.post(
                        '/APP/GetImgSet',
                        { emulateJSON: true }
                    ).then(function (res) {
                        var res = JSON.parse(res.body)
                        var List = res.Result;
                        var innerhtml = '';
                        var n = 1;
                        $(List).each(function () {
                            innerhtml += '<a class="item"><img src="' + this.ImgUrl + '" alt="" style=100%;height: 200px"></a>'
                        })

                        $("#owl-demo").html(innerhtml);
                        $("owl-demo").width($("body").width)
                        $('#owl-demo').owlCarousel({
                            items: 1
                        });
                    }, function () {
                        console.log('请求失败处理');
                    });
                },
                searchGoods: function () {

                    location.href = "/APP/GoodsList?key=" + this.key;
                }

            }

        })
        app.get();
    </script>
</body>
</html>
