
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>OrderList</title>
    <style>
        .tittle {
            height: 40px;
            line-height: 40px;
            background-color: #f2f2f2;
            width: 100%;
            position: fixed;
            z-index: 99;
            bottom: 0px;
            top: 0px;
            text-align: center;
            left: 0px;
        }

        .stutasItem {
            margin: 0px;
            padding: 0px;
            float: left;
            width: 33%;
            border-bottom: 1px #f2f2f2 solid;
        }

        .active {
            margin: 0px;
            padding: 0px;
            float: left;
            width: 33%;
            border-bottom: 1px #f2f2f2 solid;
            border-bottom: 1px red solid !important;
        }

        #content {
            width: 100%;
            background-color: #f2f2f2;
            top: 40px;
            margin-top: 40px;
        }

        .orderItem {
            background-color: white;
            margin-bottom: 20px;
        }

        .orderNum {
            font-size: 12px;
            height: 30px;
            line-height: 30px;
            padding-left: 10px;
            border-bottom: 1px #f2f2f2 solid;
        }

        .orderInfo {
            width: 100%;
            height: 60px;
            border-bottom: 1px #f2f2f2 solid;
        }

        .goodsImg {
            height: 60px;
            width: 16.67%;
            padding-left: 3.33%;
            float: left;
        }

            .goodsImg img {
                float: left;
                height: 50px;
                max-width: 90%;
            }

        .infos {
            font-size: 12px;
            height: 30px;
            line-height: 30px;
            padding-left: 10px;
            width: 75%;
            float: left;
        }

        .leftInfo {
            float: left;
            
        }

        .rightInfo {
            float: right;
            
            margin-right: 10px;
        }

        .buttons {
            height: 40px;
            width: 100%;
            line-height: 40px;
            text-align: right;
            border-bottom: 1px #f2f2f2 solid;
        }

            .buttons button {
                margin-right: 20px;
                height: 30px;
                width: 80px;
                border: 1px #cccccc solid;
                border-radius: 3px;
            }
    </style>
</head>
<body>
    <div id="App">
        <div class="tittle" >
            <div   v-bind:class="['stutasItem' ,ordertype==-1 ? 'active' : '']" stutas="-1" @@click="changeType(-1)">全部</div>
            <div   v-bind:class="['stutasItem',ordertype== 1 ? 'active' : '']" @@click="changeType(1)">待收货</div>
            <div   v-bind:class="['stutasItem' ,ordertype== 3 ? 'active' : '']" @@click="changeType(3)">已收货</div>
        </div>
        <div id="content">
            <runoob v-for="item in orderList" v-bind:todo="item"></runoob>

        </div>
    </div>
    <script src="~/Scripts/Vue/vue.min.js"></script>
    <script src="~/Scripts/Vue/vue-resource.js"></script>

    <script>


        Vue.component('runoob', {
            props: ['todo'],
            template: '<div class="orderItem"><div class="orderNum" @@click="turnToPage" >订单编号：{{ todo.OrderNum}}</div><div class="orderInfo" @@click="turnToPage" ><div class="goodsImg"><img  v-bind:src="todo.OrderImg"  alt="暂无图片"></div><div class="infos"><div class="row"><div class="leftInfo"><span  style="font-weight: 700">{{todo.GoodsTittle}}</span>等{{todo.Count }}样商品</div><div class="rightInfo">￥{{todo.TotalPrice}}</div></div><div class="row"><div class="leftInfo">{{todo.CreateTime }}</div><div class="rightInfo">{{todo.StutasName}}</div></div><div class="row"></div></div></div><div class="buttons"> <button class="cancelOrder" v-if="todo.Stutas==1"  @@click="cancelOrder">取消订单</button><button class="onceMore" @@click="reBuy">再来一单</button></div></div>',
            methods: {
                reBuy: function () {
                    if (confirm("确认再来一单吗？")) {
                        this.$http.post('/APP/GetOneMoreOrder', { orderId: this.todo.OrderId }, { emulateJSON: true }).then(function (res) {
                            var res = JSON.parse(res.body);
                            if (res.Stutas) {
                                alert("添加成功！请到购物车查看！");
                            }
                            else {
                                alert(res.Msg);
                            }
                        }, function (res) {
                            console.log(res.status);
                        });
                    }
                },
                cancelOrder: function () {
                    if (confirm("确认取消该订单吗？")) {
                        this.$http.post('/APP/CancelOrder', { orderId: this.todo.OrderId }, { emulateJSON: true }).then(function (res) {
                            var res = JSON.parse(res.body);
                            if (res.Stutas) {
                                alert("申请取消订单成功！管理员审核中！");
                                location.reload();
                            }
                            else {
                                alert(res.Msg);
                            }
                        }, function (res) {
                            console.log(res.status);
                        });
                    }
                },
                turnToPage: function () {
                    location.href = "/APP/OrderInfo?orderId=" + this.todo.OrderId;
                }

            }
        })

        var app = new Vue({
            el: "#App",
            data:
            {
                orderList: [],
                pageIndex: 1,
                ordertype: -1
            },
            methods: {
                getOrderList: function () {
                    this.$http.post(
                        '/APP/GetBuyList',
                        { index: this.pageIndex, stutas: this.ordertype },
                        { emulateJSON: true }
                    ).then(function (res) {
                        var res = JSON.parse(res.body)
                        if (res.Stutas) {
                            if (this.pageIndex > 1) {
                                this.orderList = this.orderList.concat(res.Result);
                            }
                            else
                                this.orderList = res.Result;
                        }
                    }, function () {
                        console.log('请求失败处理');
                    });
                },
                loadMore: function () {
                    this.pageIndex++;
                    this.getOrderList();
                },
                search: function () {
                    this.pageIndex = 1;
                    this.getOrderList();
                },
                changeType: function (type) {
                    this.ordertype = type;
                    this.pageIndex = 1;
                    this.getOrderList();
                }

            },
            watch: {
                Key: function (val) {
                    this.Key = val;
                },
            }
        })
        app.getOrderList();

    </script>


</body>
</html>
