@using Model;
@{
    List<DPS> dpsList = (List<DPS>)ViewBag.Dps;
    Layout = null;
}



<html>
<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>购物车</title>
    <link href="~/Content/css/nav.css" rel="stylesheet" />
    <style>
        .tittle {
            height: 40px;
            line-height: 40px;
            width: 100%;
            position: fixed;
            z-index: 99;
            bottom: 50px;
        }

        #goodList {
            width: 100%;
        }

        .goodsItem {
            width: 100%;
            height: 100px;
            border-bottom: 1px #f2f2f2 solid;
            margin-top: 10px;
        }

        .goodsimg {
            float: left;
            width: 30%;
            height: 100px;
            text-align: center;
        }

        .goodsInfo {
            float: left;
            width: 70%;
            height: 105px;
            text-align: center;
            line-height: 20px;
        }

        .addBtn {
            float: right;
            margin-right: 20px;
            margin-bottom: 5px;
        }

        .goodstittle {
            font-weight: 700;
        }

        .price {
            color: red;
        }

        .btns {
            width: 220px;
            text-align: right;
            float: right;
            margin-right: 30px;
            margin-top: 15px;
        }

            .btns button {
                border: 1px #cccccc solid;
                border-radius: 3px;
                padding: 5px 10px;
                width: 50px;
            }

        .delBtn {
            background-color: red !important;
            color: white;
            width: 60px !important;
        }

        .count {
            width: 50px;
            line-height: 24px;
            text-align: center;
            border: 1px #cccccc solid;
            border-radius: 3px;
        }

        .dps {
            width: 100%;
            height: 48px;
            margin-top: 10px;
        }

        .dpsinfo {
            height: 48px;
            width: 90%;
            text-align: center;
            background-color: #f1f8ff;
            margin: 0 auto;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div id="App">
        <div class="content">

            <div>
                <div id="goodList">
                    <goodsinfo v-for="item in orderItems" v-bind:todo="item"></goodsinfo>
                </div>
            </div>
            <div style="width: 100%;height: 48px; margin-top: 10px;" v-show="isShowDis">
                <div style="height: 48px;width: 90%;text-align: center;;background-color: #f1f8ff;margin:0 auto;border-radius: 5px;">
                    <div style="margin-left: 10px;text-align: left;font-size: 10px;line-height: 24px;">享受<span style="color: red" id="discount">0.00</span>类目折扣优惠</div>
                    <div style="margin-right: 10px;text-align: right;font-size: 10px;line-height: 24px;"><span style="color: red">类目折扣</span></div>
                </div>
            </div>
            <div style="width: 100%;height: 48px; margin-top: 10px; display: none;" id="manjian" v-show="isShowManJian">
                <div style="height: 48px;width: 90%;text-align: center;;background-color: #f1f8ff;margin:0 auto;border-radius: 5px;">
                    <div style="margin-left: 10px;text-align: left;font-size: 10px;line-height: 24px;">活动商品已满<span style="color: red" id="LimitMoney">{{manjian.LimitMoney}}元</span>，您已享受减<span style="color: red" id="LessMoeny">{{manjian.LessMoeny}}元</span>优惠</div>
                    <div style="margin-right: 10px;text-align: right;font-size: 10px;line-height: 24px;"><span style="color: red">满就减</span></div>
                </div>
            </div>
            <div style="width: 100%;height: 48px; margin-top: 10px; display: none;" id="manjiusong" v-show="isShowManSong">
                <div style="height: 48px;width: 90%;text-align: center;;background-color: #f1f8ff;margin:0 auto;border-radius: 5px;">
                    <div style="margin-left: 10px;text-align: left;font-size: 10px;line-height: 24px;">活动商品已满<span style="color: red" id="msLimitMoney">{{mansong.LimitMoney}}元</span>，您已享受赠送<span style="color: red" id="sendgoods">{{mansong.SendGoodName}}X{{mansong.SendGoodCount}}</span>优惠</div>
                    <div style="margin-right: 10px;text-align: right;font-size: 10px;line-height: 24px;"><span style="color: red">满就送</span></div>
                </div>
            </div>
            @foreach (var item in dpsList)
            {
                <div class="dps"><div class="dpsinfo"><div style="margin-left: 10px;text-align: left;font-size: 10px;line-height: 24px;">@(item.GoodsName) X<span style="color: red">@(item.Count)</span>，您已享受赠送<span style="color: red">@(item.SendGoodsName)X@(item.SendCount)</span>优惠</div><div style="margin-right: 10px;text-align: right;font-size: 10px;line-height: 24px;"><span style="color: red">单品送</span></div></div></div>
            }
            <div style="width: 100%;height: 50px;" class="dps"></div>
        </div>
        <div class="tittle ">
            <div style="width: 50%;text-align: left;padding-left: 20px;border-top: 1px solid #f2f2f2;float: left; background-color: white;">实付：<span style="color: red" id="totalPrice">{{totalPrice}}</span></div>
            <div id="jiesuan" style="width: 40%;background-color: red;color: white;font-weight: 700;float: right;text-align: center;" @@click="ConfirmOrder">结算</div>
        </div>
        <div class="nav">
            <ul>
                <li @@click="location.href='/APP/IndexPage'"> 首  页</li>
                <li @@click="location.href='/APP/ShoppingCar'" class="activNav">购物车</li>
                <li @@click="location.href='/APP/OrderList'"> 订  单</li>
                <li @@click="location.href='/APP/UserInfo'"> 我  的</li>
            </ul>
        </div>

    </div>

    <script src="~/Scripts/Vue/vue.min.js"></script>
    <script src="~/Scripts/Vue/vue-resource.js"></script>

    <script>
        Vue.component('goodsinfo', {
            props: ['todo'],
            data: function () {
                return {
                    count: this.todo.Count,
                }
            },
            template: '<div class="goodsItem"><div class="goodsimg"><a><img  v-bind:src="todo.Pic"    style="height: 80px" alt="暂无图片"></a></div><div class="goodsInfo"><div class="goodstittle">{{todo.ProductTittle}}</div><div class="info"><span class="price">{{ todo.Price }}元</span> 规格:{{todo.Spec}}</div><div class="btns"><button class="JianCount" v-on:click="minus">-</button><input v-on:change="changeCount" type="number" class="count" v-model=" todo.Count "><button class="JiaCount"  v-on:click="add">+</button> <button class="delBtn" v-on:click="deleteItem">删除</button></div></div></div>',
            methods: {
                add: function () {
                    this.todo.Count++;
                    this.changeCount();
                },
                minus: function () {
                    this.todo.Count--;
                    this.changeCount();
                },
                changeCount: function () {
                    this.$http.post('/APP/ChangeCount', { itemId: this.todo.Id, count: this.todo.Count }, { emulateJSON: true }).then(function (res) {
                        var res = JSON.parse(res.body);
                        if (res.Stutas) {
                            location.reload();
                        }
                        else {
                            alert(res.Msg);
                            this.todo.Count = this.count  ;

                        }
                    }, function (res) {
                        console.log(res.status);
                    });
                },
                deleteItem: function () {
                    if (confirm("确认要删除该商品吗？")) {
                        this.$http.post('/APP/DeleteItems', { itemId: this.todo.Id }, { emulateJSON: true }).then(function (res) {
                            var res = JSON.parse(res.body);
                            if (res.Stutas) {
                                location.reload();
                            }
                            else {
                                alert(res.Msg);
                            }
                        }, function (res) {
                            console.log(res.status);
                        });
                    }
                }

            }
        })


        var app = new Vue({
            el: "#App",
            data:
            {
                orderItems: [],
                manjian: { LimitMoney: 0, LessMoeny:0},
                dpsList: [],
                mansong: { LimitMoney: 0, SendGoodName: '-', SendGoodCount:0},
                isShowDis: true,
                isShowManJian: false,
                isShowManSong: false,
                totalPrice: 0,
                discount:0,
            },
            methods: {
                LoadInfo: function () {
                    this.$http.post(
                        '/APP/LoadShoopingCarCount',
                        { emulateJSON: true }
                    ).then(function (res) {
                        var _totalPrice = 0;
                        var _discount = 0;
                        var res = JSON.parse(res.body)
                        if (res.Stutas) {
                            this.orderItems = res.Result.list;
                            this.dpsList = res.Result.dps;
                            for (var i = 0; i < this.orderItems.length; i++) {
                                _totalPrice += this.orderItems[i].TotalPrice;
                                _discount += this.orderItems[i].LessPrice * this.orderItems[i].Count;
                            }
                            if (res.Result.manjian) {
                                this.manjian = res.Result.manjian;

                                this.isShowManJian = true;
                                _totalPrice = _totalPrice - this.manjian.LessMoeny;
                            }
                            if (res.Result.mansong) {
                                this.isShowManSong = true;
                                this.mansong = res.Result.mansong;
                            }
                            this.discount = _discount;
                            this.totalPrice = _totalPrice;
                        }
                    }, function () {
                        console.log('请求失败处理');
                    });
                },
                ConfirmOrder: function () {
                    location.href = "/APP/ConfirmOrder"
                },
                clearShoppingCar: function () {
                    if (confirm("确认清空购物车吗？")) {
                        this.$http.post('/APP/ClearShoppingCar', {  }, { emulateJSON: true }).then(function (res) {
                            var res = JSON.parse(res.body);
                            if (res.Stutas) {
                                alert("清空购物车成功！");
                                location.reload();
                            }
                            else {
                                alert(res.Msg);
                            }
                        }, function (res) {
                            console.log(res.status);
                        });

                    }
                }
            }
        })
        app.LoadInfo();

    </script>
</body>
</html>
