
@using Model;
@{
    ViewBag.Title = "AddNewUser";
    var typeList = (List<UserType>)ViewBag.TypeList;
}
<div class="col_main_hd">
    <h2>
        加盟商个人中心 <button type="submit" style="float: right;margin-right: 15px;background: #c40000;border: none;"><a href="http://183.131.13.228:8080/ziling/index.php" target="_blank" style="color: #ffffff;font-weight: bold;font-size: 13px;">系统操作说明</a></button>
    </h2>
</div>
<div class="col_main_bd">
    <div class="inner">
        <div class="col_main_content">

            <table class="table table_border_td_none">
                <tbody>
                    <tr>
                        <td class="right">
                            用户名：
                        </td>
                        <td>
                            <input type="text" class="inputtext" style="width:150px;" name="userName" id="userName" value="">
                        </td>
                    </tr>
                    <tr>
                        <td class="right">
                            用户编号：
                        </td>
                        <td>
                            <input type="text" class="inputtext" style="width:150px;" name="userNum" id="userNum" value="">
                        </td>
                    </tr>

                    <tr>
                        <td class="right">
                            账号：
                        </td>
                        <td>
                            <input type="text" class="inputtext" style="width:150px;" name="account" id="account" value="">
                        </td>
                    </tr>

                    <tr>
                        <td class="right">
                            账号：
                        </td>
                        <td>
                            <input type="text" class="inputtext" style="width:150px;" name="tel" id="tel" value="">
                        </td>
                    </tr>

                    <tr>
                        <td class="right">
                            密码：
                        </td>
                        <td>
                            <input type="password" class="inputtext" style="width:150px;" name="pws" id="pws" value="">
                        </td>
                    </tr>


                    <tr>
                        <td class="right">
                            重复密码：
                        </td>
                        <td>
                            <input type="password" class="inputtext" style="width:150px;" name="pws2" id="pws2" value="">
                        </td>
                    </tr>




                    <tr>
                        <td class="right">
                            区域：
                        </td>
                        <td>
                            <select id="province"></select>
                            <select id="city"></select>
                            <select id="area"></select>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>





<button id="btn_add">添加</button>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<input type="hidden" value="@ViewBag.UserType" id="UserType" />
<input type="hidden" value="@ViewBag.UserTypeName" id="UserTypeName" />
<script>

    $(function () {
        $(document).on("change", "#province", function () {
            LoadArea($(this).val(), $("#city"))
        });
        $(document).on("change", "#city", function () {
            LoadArea($(this).val(), $("#area"))
        });
        LoadArea("0", $("#province"))
    })





    function LoadArea(num, obj) {
        $.post("/Common/GetAreaList", { num: num }, function (res) {
            var html = "";
            $(res).each(function () {
                html += '<option value="' + this.Num + '">' + this.Name + '</option>';
            });
            obj.html(html);
            obj.change();
        }, "json");
    }

    $("#btn_add").click(function () {
        AddNewUser();
    });
    function AddNewUser() {
        var userName = $("#userName").val();
        var userNum = $("#userNum").val();
        var account = $("#account").val();
        var pwd = $("#pws").val();
        var typeId = $("#UserType").val();
        var typeName = $("#UserTypeName").val();


        if (pwd != $("#pws2").val()) {
            alert("两次密码不一致！");
            return;
        }
        if (userName == "" || userNum == "" || account == "") {
            alert("用户名、账号、用户编号不能为空！");
            return;
        }
        var para = {};
        para.UserName = userName;
        para.UserNum = userNum;
        para.Account = account;
        para.Tel = $("#tel").val();
        para.PassWord = pwd;
        para.TypeId = typeId;
        para.TypeName = typeName;
        para.ProvinceNum = $("#province").val();
        para.Province = $("#province").find("option:selected").text();
        para.CityNum = $("#city").val();
        para.City = $("#city").find("option:selected").text();
        para.AreaNum = $("#area").val();
        para.Area = $("#area").find("option:selected").text();
        $.post("/User/SaveUser", para, function (e) {
            alert(e);
        }, "json")
    }
</script>
