USE [master]
GO
/****** Object:  Database [SaleTools]    Script Date: 2018/3/4 22:01:27 ******/
CREATE DATABASE [SaleTools] ON  PRIMARY 
( NAME = N'SaleTools', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\SaleTools.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SaleTools_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\SaleTools_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SaleTools].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SaleTools]
GO
/****** Object:  Table [dbo].[Area]    Script Date: 2018/3/4 22:01:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Area](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Num] [nchar](10) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[ParentNum] [nchar](10) NULL,
	[ParentName] [nvarchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BrandOfGoodsType]    Script Date: 2018/3/4 22:01:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BrandOfGoodsType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeId] [uniqueidentifier] NULL,
	[BandsId] [uniqueidentifier] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoodInfo]    Script Date: 2018/3/4 22:01:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodInfo](
	[Id] [uniqueidentifier] NOT NULL,
	[GoodsNum] [nchar](50) NULL,
	[BarCode] [nchar](50) NOT NULL,
	[MiddleCode] [nchar](50) NOT NULL,
	[BoxCode] [nchar](50) NOT NULL,
	[SupplierId] [int] NOT NULL,
	[SupplierNum] [nvarchar](50) NOT NULL,
	[SupplierName] [nvarchar](500) NOT NULL,
	[FirstTypeId] [uniqueidentifier] NULL,
	[FirstTypeName] [nvarchar](200) NULL,
	[SecondTypeId] [uniqueidentifier] NULL,
	[SecondTypeName] [nvarchar](200) NULL,
	[ThirdTYypeId] [uniqueidentifier] NULL,
	[ThirdTypeName] [nchar](10) NULL,
	[GoodsTittle] [nvarchar](500) NULL,
	[GoodsSubTittle] [nvarchar](500) NOT NULL,
	[BrandId] [uniqueidentifier] NULL,
	[BrandName] [nvarchar](200) NULL,
	[RetailtPrice] [decimal](18, 2) NULL,
	[MarketPrice] [decimal](18, 2) NULL,
	[CostPrice] [decimal](18, 2) NULL,
	[Stock] [int] NULL,
	[IsLockStork] [bit] NULL,
	[BoxSpec] [nvarchar](100) NULL,
	[Spec] [nvarchar](100) NULL,
	[Unit] [nvarchar](10) NULL,
	[Weight] [int] NULL,
	[Size] [nvarchar](50) NULL,
	[ShelfLife] [int] NULL,
	[MinCount] [int] NULL,
	[LimitCount] [int] NULL,
	[pic1] [nvarchar](500) NULL,
	[pic2] [nvarchar](500) NULL,
	[pic3] [nvarchar](500) NULL,
	[pic4] [nvarchar](500) NULL,
	[pic5] [nvarchar](500) NULL,
	[KeyWord] [nvarchar](500) NULL,
	[Detail] [nvarchar](1000) NULL,
	[CreateUserId] [uniqueidentifier] NULL,
	[CreateUserName] [nvarchar](50) NULL,
	[IsDelete] [bit] NULL,
	[CreateTime] [datetime] NULL,
	[LastUpdateTime] [datetime] NULL,
	[SortId] [int] NULL,
	[IsUpShelves] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoodsBrand]    Script Date: 2018/3/4 22:01:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodsBrand](
	[Id] [uniqueidentifier] NOT NULL,
	[BrandName] [nvarchar](200) NOT NULL,
	[Country] [nvarchar](200) NULL,
	[IsDelete] [bit] NULL,
	[CreateUserId] [uniqueidentifier] NULL,
	[CreateUserName] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoodsType]    Script Date: 2018/3/4 22:01:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodsType](
	[Id] [uniqueidentifier] NOT NULL,
	[TypeName] [nvarchar](200) NOT NULL,
	[ParentId] [uniqueidentifier] NULL,
	[ParentName] [nvarchar](200) NULL,
	[IsDelete] [bit] NULL,
	[CreateUserId] [uniqueidentifier] NULL,
	[CreateUserName] [nvarchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PriceOfUserType]    Script Date: 2018/3/4 22:01:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PriceOfUserType](
	[GoodsId] [uniqueidentifier] NULL,
	[UserTypeId] [int] NULL,
	[Price] [decimal](18, 2) NULL,
	[CreateTime] [datetime] NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 2018/3/4 22:01:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SupplierNum] [nvarchar](20) NOT NULL,
	[SupplierName] [nvarchar](500) NOT NULL,
	[SupplierCompany] [nvarchar](500) NOT NULL,
	[Tel] [nchar](20) NOT NULL,
	[CreateUserId] [uniqueidentifier] NOT NULL,
	[CreateUserName] [nvarchar](50) NOT NULL,
	[IsDelete] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 2018/3/4 22:01:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[UserId] [uniqueidentifier] NOT NULL,
	[UserNum] [nvarchar](50) NOT NULL,
	[Account] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[PassWord] [nvarchar](100) NOT NULL,
	[IsLocked] [bit] NULL,
	[IsDelete] [bit] NULL,
	[CreateTime] [datetime] NULL,
	[CreateUser] [nvarchar](100) NULL,
	[CreateUserId] [uniqueidentifier] NULL,
	[TypeId] [int] NULL,
	[TypeName] [nvarchar](100) NULL,
	[Province] [nvarchar](200) NULL,
	[ProvinceNum] [nchar](10) NULL,
	[City] [nvarchar](200) NULL,
	[CityNum] [nchar](10) NULL,
	[Area] [nvarchar](200) NULL,
	[AreaNum] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserType]    Script Date: 2018/3/4 22:01:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserType](
	[TypeId] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](100) NOT NULL,
	[IsAdmin] [bit] NULL,
 CONSTRAINT [PK_UserType] PRIMARY KEY CLUSTERED 
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Area] ON 

INSERT [dbo].[Area] ([Id], [Num], [Name], [ParentNum], [ParentName]) VALUES (1, N'110000    ', N'北京市', N'0         ', NULL)
INSERT [dbo].[Area] ([Id], [Num], [Name], [ParentNum], [ParentName]) VALUES (2, N'120000    ', N'天津市', N'0         ', NULL)
INSERT [dbo].[Area] ([Id], [Num], [Name], [ParentNum], [ParentName]) VALUES (3, N'130000    ', N'河北省', N'0         ', NULL)
GO
SET IDENTITY_INSERT [dbo].[Area] OFF
SET IDENTITY_INSERT [dbo].[BrandOfGoodsType] ON 

INSERT [dbo].[BrandOfGoodsType] ([Id], [TypeId], [BandsId]) VALUES (1, N'd17f0f70-9b95-4618-877b-4c0ab88f8212', N'a6d33d39-3444-4c4b-a217-b4a80026b605')
INSERT [dbo].[BrandOfGoodsType] ([Id], [TypeId], [BandsId]) VALUES (2, N'd17f0f70-9b95-4618-877b-4c0ab88f8212', N'5b1cc81c-463d-4d64-8d38-ca92cdbccc9f')
INSERT [dbo].[BrandOfGoodsType] ([Id], [TypeId], [BandsId]) VALUES (5, N'43d12f53-104e-4e4a-9df6-e01ada35b4dd', N'd47d827e-0d09-4ee1-8eae-7ab54f11acb3')
SET IDENTITY_INSERT [dbo].[BrandOfGoodsType] OFF
INSERT [dbo].[GoodsBrand] ([Id], [BrandName], [Country], [IsDelete], [CreateUserId], [CreateUserName]) VALUES (N'd47d827e-0d09-4ee1-8eae-7ab54f11acb3', N'上好佳', N'中国', 0, N'a77d5476-501f-4f50-a5ab-b364e8f92f21', N'管理员')
INSERT [dbo].[GoodsBrand] ([Id], [BrandName], [Country], [IsDelete], [CreateUserId], [CreateUserName]) VALUES (N'a6d33d39-3444-4c4b-a217-b4a80026b605', N'好利来', N'中国', 0, N'a77d5476-501f-4f50-a5ab-b364e8f92f21', N'管理员')
INSERT [dbo].[GoodsBrand] ([Id], [BrandName], [Country], [IsDelete], [CreateUserId], [CreateUserName]) VALUES (N'5b1cc81c-463d-4d64-8d38-ca92cdbccc9f', N'浪味仙', N'中国', 0, N'a77d5476-501f-4f50-a5ab-b364e8f92f21', N'管理员')
INSERT [dbo].[GoodsType] ([Id], [TypeName], [ParentId], [ParentName], [IsDelete], [CreateUserId], [CreateUserName]) VALUES (N'd17f0f70-9b95-4618-877b-4c0ab88f8212', N'食品零食', N'00000000-0000-0000-0000-000000000000', N'', 0, N'a77d5476-501f-4f50-a5ab-b364e8f92f21', N'管理员')
INSERT [dbo].[GoodsType] ([Id], [TypeName], [ParentId], [ParentName], [IsDelete], [CreateUserId], [CreateUserName]) VALUES (N'263ac3c3-763c-4def-b307-a8f2cb371eb3', N'日用洗护', N'00000000-0000-0000-0000-000000000000', N'', 0, N'a77d5476-501f-4f50-a5ab-b364e8f92f21', N'管理员')
INSERT [dbo].[GoodsType] ([Id], [TypeName], [ParentId], [ParentName], [IsDelete], [CreateUserId], [CreateUserName]) VALUES (N'635c2134-3116-4789-84e7-722b295b1b17', N'粮油调味', N'00000000-0000-0000-0000-000000000000', N'', 0, N'a77d5476-501f-4f50-a5ab-b364e8f92f21', N'管理员')
SET IDENTITY_INSERT [dbo].[PriceOfUserType] ON 

INSERT [dbo].[PriceOfUserType] ([GoodsId], [UserTypeId], [Price], [CreateTime], [Id]) VALUES (N'587be638-8406-4ffb-9d53-96e0989d6b3f', 0, CAST(121.00 AS Decimal(18, 2)), CAST(N'2018-02-27T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[PriceOfUserType] ([GoodsId], [UserTypeId], [Price], [CreateTime], [Id]) VALUES (N'587be638-8406-4ffb-9d53-96e0989d6b3f', 3, CAST(122.00 AS Decimal(18, 2)), CAST(N'2018-02-27T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[PriceOfUserType] ([GoodsId], [UserTypeId], [Price], [CreateTime], [Id]) VALUES (N'587be638-8406-4ffb-9d53-96e0989d6b3f', 4, CAST(123.00 AS Decimal(18, 2)), CAST(N'2018-02-27T00:00:00.000' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[PriceOfUserType] OFF
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([Id], [SupplierNum], [SupplierName], [SupplierCompany], [Tel], [CreateUserId], [CreateUserName], [IsDelete]) VALUES (2, N'00001', N'测试供应商', N'测试供应商公司', N'13508341922         ', N'a77d5476-501f-4f50-a5ab-b364e8f92f21', N'管理员', 1)
INSERT [dbo].[Supplier] ([Id], [SupplierNum], [SupplierName], [SupplierCompany], [Tel], [CreateUserId], [CreateUserName], [IsDelete]) VALUES (3, N'00002', N'测试供应商2235', N'测试供应商2235', N'13508341922         ', N'a77d5476-501f-4f50-a5ab-b364e8f92f21', N'管理员', 0)
SET IDENTITY_INSERT [dbo].[Supplier] OFF
INSERT [dbo].[UserInfo] ([UserId], [UserNum], [Account], [UserName], [PassWord], [IsLocked], [IsDelete], [CreateTime], [CreateUser], [CreateUserId], [TypeId], [TypeName], [Province], [ProvinceNum], [City], [CityNum], [Area], [AreaNum]) VALUES (N'a77d5476-501f-4f50-a5ab-b364e8f92f21', N'023', N'admin', N'管理员', N'cebfd1559b68d67688884d7a3d3e8c', 0, 0, CAST(N'2018-01-01T00:00:00.000' AS DateTime), NULL, N'a77d5476-501f-4f50-a5ab-b364e8f92f21', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[UserInfo] ([UserId], [UserNum], [Account], [UserName], [PassWord], [IsLocked], [IsDelete], [CreateTime], [CreateUser], [CreateUserId], [TypeId], [TypeName], [Province], [ProvinceNum], [City], [CityNum], [Area], [AreaNum]) VALUES (N'e309dfc0-6b80-4d12-aa15-ac7e2f1e5491', N'023', N'admin123', N'管理员', N'cebfd1559b68d67688884d7a3d3e8c', 0, 0, CAST(N'2018-01-01T00:00:00.000' AS DateTime), NULL, N'a77d5476-501f-4f50-a5ab-b364e8f92f21', 2, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[UserInfo] ([UserId], [UserNum], [Account], [UserName], [PassWord], [IsLocked], [IsDelete], [CreateTime], [CreateUser], [CreateUserId], [TypeId], [TypeName], [Province], [ProvinceNum], [City], [CityNum], [Area], [AreaNum]) VALUES (N'8981b927-f296-420c-88ea-96f1bccea9e2', N'023', N'admin', N'管理员', N'cebfd1559b68d67688884d7a3d3e8c', 0, 0, CAST(N'2018-01-01T00:00:00.000' AS DateTime), NULL, N'a77d5476-501f-4f50-a5ab-b364e8f92f21', 3, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[UserType] ON 

INSERT [dbo].[UserType] ([TypeId], [TypeName], [IsAdmin]) VALUES (1, N'超级管理员', 1)
INSERT [dbo].[UserType] ([TypeId], [TypeName], [IsAdmin]) VALUES (2, N'管理员', 1)
INSERT [dbo].[UserType] ([TypeId], [TypeName], [IsAdmin]) VALUES (3, N'一类客户', 0)
SET IDENTITY_INSERT [dbo].[UserType] OFF
USE [master]
GO
