/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [Id]
      ,[GoodsNum]
      ,[BarCode]
      ,[MiddleCode]
      ,[BoxCode]
      ,[SupplierId]
      ,[SupplierNum]
      ,[SupplierName]
      ,[FirstTypeId]
      ,[FirstTypeName]
      ,[SecondTypeId]
      ,[SecondTypeName]
      ,[ThirdTYypeId]
      ,[ThirdTypeName]
      ,[GoodsTittle]
      ,[GoodsSubTittle]
      ,[BrandId]
      ,[BrandName]
      ,[RetailtPrice]
      ,[MarketPrice]
      ,[CostPrice]
      ,[Stock]
      ,[IsLockStork]
      ,[BoxSpec]
      ,[Spec]
      ,[Unit]
      ,[Weight]
      ,[Size]
      ,[ShelfLife]
      ,[MinCount]
      ,[LimitCount]
      ,[pic1]
      ,[pic2]
      ,[pic3]
      ,[pic4]
      ,[pic5]
      ,[KeyWord]
      ,[Detail]
      ,[CreateUserId]
      ,[CreateUserName]
      ,[IsDelete]
      ,[CreateTime]
      ,[LastUpdateTime]
      ,[SortId]
      ,[IsUpShelves]
      ,[ErpId]
      ,[BasePrice]
      ,[PriceForA]
      ,[PriceForB]
      ,[PriceForC]
      ,[PriceForD]
      ,[PriceForLianSuo]
  FROM [SaleTools].[dbo].[GoodInfo]

  update  a set a.BasePrice=b.PreSalePrice1,
   a.PriceForA= b.RetailPrice,
   a.PriceForB=b.PreSalePrice2, 
   a.PriceForC=b.PreSalePrice4,
   a.PriceForD = b.PreSalePrice3,
   a.PriceForLianSuo = b.PreSalePrice5  
   from  [SaleTools].[dbo].[GoodInfo] a,[V3_DataTOP].[dbo].[PType_Price] b where  a.ErpId = b.PTypeID